body{
    background-color:black;
    color:white;
    margin:0;
}
/* DEV */
/*div{
    background-color:#111111;
    border:1px dashed #F9F9F9;
}*/
/* NAV */
.navbar-custom, footer .footer-above, footer .footer-below  {
    background: black
}

/* MAIN CONTENT */
h3{
    font-size:1.2em;
}
h4{
    font-size:0.8em;
}

[class*=' col-'], article{
    padding:0 !important;
}

div.nomargin{
    margin:0;
    padding:0;
}
section#maincontent{
    background-color: #080808;
}

.lighterme{
    background-color: #101010;
}

div.categorytag button{

}

.btn:hover{
    background-color: white !important;
    color: black !important;
}